
@{
    ViewBag.Title = "Student";
}
    <h2>StudentIndex</h2>
    <div class="wap">
        <div class="block13">
            <div>
                <img src="~/Content/Student/images/tp1.png" width="72" height="64">
            </div>
            <div class="block13tex">个人信息</div>
            <div class="block13text">
                姓名：庄幼琼<br>
                学号：916106840310<br>
            </div>
        </div>


        <a href="" class="block2">
            <img src="~/Content/Student/images/tp2.png" width="65" height="65">
            <div class="block2tex">选课中心</div>
        </a>


        <a href="" class="block16">
            <div>
                <img src="~/Content/Student/images/tp2.png" width="65" height="65">
            </div>
            <div class="block16tex">我的课表</div>
        </a>

        <a href="" class="block3">
            <img src="~/Content/Student/images/tp3.png" width="92" height="55">
            <div class="block3tex">学生评教</div>
        </a>

        <a href="" class="block4">
            <img src="~/Content/Student/images/tp4.png" width="71" height="62">
            <div class="block4tex">培养方案</div>
        </a>

        <a href="" class="block6">
            <img src="~/Content/Student/images/tp6.png" width="67" height="79">
            <div class="block6tex">已收公告</div>
            <div class="block6tex" id="grxx"></div>
        </a>

        <a href="" class="block5">
            <img src="~/Content/Student/images/tp5.png" width="80" height="57">
            <div class="block5tex">已收留言</div>
            <div class="block5text" id="ggtz"></div>
        </a>

        

    </div>


