@model IEnumerable<EduMS.Dto.CaltivatePlanDto>

@{
    ViewBag.Title = "CaltivatePlanList";
}

<h2>CaltivatePlanList</h2>

<p>
    @Html.ActionLink("添加条目", "AddCaltivatePlan")
</p>

@using (Html.BeginForm("CaltivatePlanList", "Course", FormMethod.Get))

{

    <p>

        学院:@Html.DropDownList("DepartmentList", "All")

        学期:@Html.DropDownList("SemesterList", "All")

        &nbsp;&nbsp;

        <input type="submit" value="查看培养方案" />

    </p>

}

@Html.Action("ShowCourseInCalPlan", "Course", new { name = "SharpL", id = 1 })


